## Importing libraries

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import numpy as np

In [2]:
df = pd.read_csv("bangalore house price prediction OHE-data.csv")

In [3]:
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
X = df.drop("price",axis=1)
y = df["price"]

In [5]:
print('Shape of X=',X.shape)
print('Shape of y=',y.shape)

Shape of X= (7120, 107)
Shape of y= (7120,)

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=41)
print('Shape of X Train',X_train.shape)
print('Shape of X Test',X_test.shape)
print('Shape of y Train',y_train.shape)
print('Shape of y Test',y_test.shape)

Shape of X Train (5696, 107)
Shape of X Test (1424, 107)
Shape of y Train (5696,)
Shape of y Test (1424,)

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(X_train)
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

### Linear Model

In [8]:
model_lr = LinearRegression()
model_lr.fit(X_train,y_train)
model_lr.score(X_test,y_test)

0.889578599000509

In [9]:
lr_predict = model_lr.predict(X_test)

### Ridge Model

In [10]:
model_rd = Ridge(alpha=40)
model_rd.fit(X_train,y_train)
model_rd.score(X_test,y_test)

0.8918842837010107

In [11]:
rd_predict = model_rd.predict(X_test)

### Lasso Model

In [12]:
model_ls= Lasso(alpha=40)
model_ls.fit(X_train,y_train)
model_ls.score(X_test,y_test)

0.7833336754189671

In [13]:
lo_predict = model_ls.predict(X_test)

### Comparing Error OF models

In [14]:
mse_lr = mean_squared_error(lr_predict,y_test)
mse_rd = mean_squared_error(rd_predict,y_test)
mse_lo = mean_squared_error(lo_predict,y_test)

In [15]:
print("MSE of Liner Model: ",mse_lr)
print("MSE of Ridge Model: ",mse_rd)
print("MSE of Lasso Model: ",mse_lo)

MSE of Liner Model:  915.4811140152572
MSE of Ridge Model:  896.3651566095634
MSE of Lasso Model:  1796.3359131618838

In [16]:
rmse_lr = np.sqrt(mse_lr)
rmse_rd = np.sqrt(mse_rd)
rmse_lo = np.sqrt(mse_lo)

In [17]:
print("RMSE of Liner Model: ",rmse_lr)
print("RMSE of Ridge Model: ",rmse_rd)
print("RMSE of Lasso Model: ",rmse_lo)

RMSE of Liner Model:  30.256918448765685
RMSE of Ridge Model:  29.93935798592821
RMSE of Lasso Model:  42.38320319609979

###### Hence We see that error of Ridgee(Overfit part) model is less